* {
    box-sizing: border-box;
    margin: 0;


}

body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

.titlediv {
 
    height: 20vh;
  
}

.title {
    font-size: 50px;
    color: white;
}

.subheading {
    font-size: 16px;
    color: aquamarine;
    margin-top: 30px;
    text-decoration: underline;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    color: white;
    margin-top: 30px;
}

h3 {
    font-size: 21px;
    color: gray;
    margin-top: 30px;
    margin-bottom: 20px;

}

.phoneimg {
    margin-top: 30px;
}